/Blynk/BasicOTA_Blynk/ProgramAuthToken.h
/Blynk/BasicOTA_Blynk_Lights/ProgramAuthToken.h
/Blynk/Geyser/ProgramAuthToken.h
/Amazon/Amazon_SMS/ConnectionInfo.h

/Blynk/SampleApplication/ProgramAuthToken.h
/GSM/GSM_Example/Variables.h
/Blynk/Geyser_MQTT/ProgramAuthToken.h
